process {
  executor = 'slurm'
  clusterOptions = '-p quake,horence,owners'

  memory = { 40.GB * task.attempt }
  time = { 1.h * task.attempt }
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3
}

params {
  dataname = "HLCA4_P2_10x"
  input_file = "/scratch/PI/horence/JuliaO/single_cell/SZS_pipeline3/data/HLCA4_P2_10x_with_postprocessing_lung.pq"
  SICILIAN = true
  pin_S = 0.1
  pin_z = 0.0
  bounds = 5
  light = false
  svd_type = "normdonor"
  n_perms = 100
  grouping_level_2 = "compartment"
  grouping_level_1 = "tissue"
  calc_SpliZ_only = false
}

params.outdir = "./results/${params.dataname}"
params.tracedir = "${params.outdir}/pipeline_info"
params.schema_ignore_params = "input,single_end,show_hidden_params,validate_params,igenomes_ignore,tracedir,igenomes_base,help,monochrome_logs,plaintext_email,max_multiqc_email_size,email_on_fail,email,multiqc_config,publish_dir_mode,genome,genomes" 

tower {
 enabled = true
}