process {
  executor = 'slurm'
  clusterOptions = '-p quake,horence,owners'

  memory = { 1.GB * task.attempt }
  time = { 1.h * task.attempt }
  errorStrategy = { 'retry' }
  maxRetries = 3
}

params {
  dataname = "tester"
  input_file = "/scratch/groups/horence/kaitlin/spliz_nextflow/nf-core-spliz/test_data/test.tsv"
  SICILIAN = true
  pin_S = 0.1
  pin_z = 0
  bounds = 5
  light = true
  svd_type = "normdonor"
  outdir = "./results"
}

tower {
 enabled = true
}