process {
  executor = 'slurm'
  clusterOptions = '-p quake,horence,owners'

  memory = { 1.GB * task.attempt }
  time = { 1.h * task.attempt }
  errorStrategy = { 'retry' }
  maxRetries = 3
}

params {
  dataname = "test"
  outdir = "./results/${dataname}" 
  input_file = "/scratch/groups/horence/kaitlin/spliz_nextflow/nf-core-spliz/test_data/test.tsv"
  SICILIAN = true
  pin_S = 0.1
  pin_z = 0.0
  bounds = 5
  light = true
  svd_type = "normdonor"
  n_perms = 100
  group_col = "compartment"
  sub_col = "tissue"
}

params.schema_ignore_params = "show_hidden_params,validate_params,igenomes_ignore,tracedir,igenomes_base,help,monochrome_logs,plaintext_email,max_multiqc_email_size,email_on_fail,email,multiqc_config,publish_dir_mode,single_end,input,genome" 

tower {
 enabled = true
}