process {
  executor = 'slurm'
  clusterOptions = '-p quake,horence,owners'

  memory = { 1.GB * task.attempt }
  time = { 1.h * task.attempt }
  errorStrategy = { 'retry' }
  maxRetries = 3
}

params {
  input_file = "/scratch/groups/horence/kaitlin/spliz_nextflow/nf-core-spliz/test_data/test.tsv"
  SICILIAN = true
}

tower {
 enabled = true
}