process {
  executor = 'local'

  memory = { 1.GB * task.attempt }
  time = { 1.h * task.attempt }
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3

  withLabel:process_medium {
    memory = { 1.GB * task.attempt }
    time   = { 1.h  * task.attempt }
  }
}

params {
  dataname = "test"
  input_file = "https://raw.githubusercontent.com/salzmanlab/SpliZ/main/small_data/small.pq"
  SICILIAN = true
  pin_S = 0.1
  pin_z = 0.0
  bounds = 5
  light = false      
  svd_type = "normdonor"
  n_perms = 100
  grouping_level_2 = "compartment"
  grouping_level_1 = "tissue"
  libraryType = "10X"
  run_analysis = true
}

params.outdir = "./results/${params.dataname}"
params.tracedir = "./results/${params.dataname}/pipeline_info"
params.schema_ignore_params = "input,single_end,show_hidden_params,validate_params,igenomes_ignore,tracedir,igenomes_base,help,monochrome_logs,plaintext_email,max_multiqc_email_size,email_on_fail,email,multiqc_config,publish_dir_mode,genome,genomes" 
